node_modules/
test-results/
coverage/
playwright-report/
docker/ssl/
public/data/dashboard-config.json
public/data/local-data.json
dist/data/dashboard-config.json
copy*.sh
*dashboard-config.json
*local-data.json
*.txt
.DS_Store
deploy.sh
